<form action="/login" method="POST">
    <div class="username input">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="username" inputmode="" required>
    </div>

    <div class="password input">
        <label for="password">Password</label>
        <input type="text" name="password" id="password" placeholder="password" inputmode="" required>
    </div>
    <div class="btn">
        <button type="submit">Login</button>
    </div>
</form>