<form action="/login" method="POST">
    <div class="username">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="username" inputmode="">
    </div>

    <div class="password">
        <label for="password">Password</label>
        <input type="text" name="password" id="password" placeholder="password" inputmode="">
    </div>
<button type="submit">Login</button>
</form>