<form  id="registerForm" >
    <div class="first-name input">
        <label for="first-name">First Name: </label>
        <input type="text" name="first_name" id="first_name" placeholder="first-name" required>
    </div>

    <div class="last-name input">
        <label for="last-name">Last Name: </label>
        <input type="text" name="last_name" id="last_name" placeholder="last-name" required>
    </div>

    <div class="email input">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" inputmode="email" placeholder="email" required>
    </div>

    <div class="username input">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" placeholder="username" required>
    </div>

    <div class="password input">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="password" required>
    </div>

    <div class="btn">
      <button>Sign Up</button>
    </div>
</form>

<script>
const form = document.getElementById("registerForm");

form.addEventListener("submit", async (e) => {
  e.preventDefault();

  const formData = Object.fromEntries(new FormData(form).entries());
  console.log("Form Data: ",formData)

  try {
    const res = await fetch("/signup", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(formData)
      
    });

    const data = await res.json();

    // consoling the data
    console.log("Data Response: ", data)

    if (data.status === "success") {
      alert("Registration successful! Welcome ");
      // optional: redirect
      // window.location.href = "/login";

      if (data.redirect) {
        window.location.href = data.redirect;
      }

    } else {
      alert(data.message || "Registration failed");
    }
  } catch (err) {
    console.error(err);
    alert("Something went wrong");
  }
});
</script>