*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

a{
    text-decoration: none;
}


:root{
    /* Action */
  --primary: hsl(115, 76%, 36%);
  --secondary: hsl(56, 84%, 26%);
  --font-family: 'Segoe UI', sans-serif;

    /* background */
  --bg-dark: hsl(0 0% 0%);
  --bg: hsl(0 0% 10%);
  --bg-light: hsl(0 0% 13%);
  --gradient: linear-gradient(0deg, hsl(0 0% 5%), var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0edg, var(--bg), var(--bg-light));


  /* Text */
  --text: hsl(0 0% 95%);
  --text-muted: hsl(0 0% 60%);
  --font-size-regular: 1rem;
  --font-size2: 1.5rem;
  --font-size3: 2rem;
  --font-size-huge: 3rem;
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 3rem;

  /* h1 p  */
  --ff: "inter", "sanserif";
  --h1: bold 5rem/1.4em var(--ff);
  --h2: bold 1rem/11.4em var(--ff);
  --p: 1rem/1.4em var(--ff);
  --p2: .875rem/1.4em var(var(--ff))

  /* Border */
  --border: hsl(0 0% 30%);
  --highlight: hsl(0 0% 60%);
  --border-card: solid 1px var(--border);
  --radius-small: .5rem;
  --radius-large: 1rem;
  --shadow: inset 1px 3px var(--bg-light), 1px 3px var(--bg-dark);


  /* Alert */
--alert-danger: hsl(0 75% 50%);
--alert-warning: hsl(45 100% 50%);
--alert-success: hsl(140 70% 40%);
--alert-info: hsl(200 80% 50%);

  /* Padding */
  --padding-small: .5rem;
  --padding: 1rem;
  --padding-large: 1.5rem;

}

body.light{
        /* Action */
  --primary: hsl(115, 76%, 36%);
  --secondary: hsl(56, 84%, 26%);

    /* background */
  --bg-dark: hsl(0 0% 90%);
  --bg: hsl(0 0% 95%);
  --bg-light: hsl(0 0% 100%);
  --gradient: linear-gradient(0deg, hsl(0 0% 90%), var(--bg) 90%, var(--bg-light));
  --gradient-hover: linear-gradient(0edg, var(--bg), var(--bg-light));


  /* Text */
  --text: hsl(0 0% 5%);
  --text-muted: hsl(0 0% 30%);
  --font-size-regular: 1rem;
  --font-size2: 1.5rem;
  --font-size3: 2rem;
  --font-size-huge: 3rem;
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 3rem;

  /* Border */
  --border: hsl(0 0% 80%);
  --highlight: hsl(0 0% 100%);
  --border-card: solid 1px var(--bg);
  --shadow: inset 1px 3px hsl(0 0% 100%), 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 1px 2px hsla(0, 0%, 0%, 0.15);


  /* Alert */
  --alert-danger: hsl(0, 100%, 36%);
  --alert-warning: hsl(51, 100%, 52%);
  --alert-succss: hsl(125, 93%, 28%);
  --alert-info: hsl(204, 100%, 41%);
}


body{
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body, .section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--space-2);
}

.auth-wrapper, .message-form {
    background-color: var(--bg);
    padding: var(--space-2);
    border-radius: var(--radius-small);
    min-height: 500px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label, input, textarea{
    color: var(--text-muted);
    line-height: var(--space-3);
    font-size: var(--font-size2);
}

label {
    text-align: right;
}

input, textarea {
    padding: var(--space-1);
    border-radius: var(--radius-small);
    background-color: var(--bg-light);
    border: 1px solid var(--border);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: var(--space-2);
}

.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--space-1);
}

.btn{
    display: flex;
    justify-content: end;
    width: 100%;
}

.btn button{
    padding: var(--space-1) var(--space-2);
    border-radius: var(--radius-small);
    font-size: var(--font-size-regular);
    background-color: var(--alert-success);
}

.auth-btn{
    padding: var(--space-1) var(--space-2);
    border-radius: var(--radius-small);
    font-size: var(--font-size-regular);
    background-color: var(--alert-info);
}

h1{
    color: var(--text);
    font-size: var(--h1);
}

p{
    color: var(--text-muted);
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 5px;
    background-color: var(--bg);
    padding: var(--space-1);
}

.messages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--bg);
    align-items: center;
    gap: var(--space-1);
    padding: var(--space-2);
}

.message-card{
    background-color: var(--bg-light);
    width: 40%;
    border-radius: var(--radius-small);
    border: 1px solid var(--border);
    padding: var(--space-1);
}

.message-card h2{
    color: var(--text-muted);
    font-size: var(--font-size2);
}

.message-card p{
    color: var(--text);
    font-size: var(--font-size2);
}

small{
    color: var(--text-muted);
}

.del-btn{
    display: flex;
    justify-content: end;
    width: 100%;
}

.del-btn button{
    border: 1 px solid var(--border);
    padding: var(--space-1) var(--space-2);
    border-radius: var(--radius-small);
    font-size: var(--font-size-regular);
    background-color: var(--alert-danger);
    color: var(--text);
}